<h2 class="ui header">Developers</h2>

  <a href = "/developers/new">
    <button class = "ui secondary button">
    <i class="ui plus icon"></i> Ajouter un développeur...
    </button>
  </a>
{{outlet}}
